#header {
    width:100%;
    margin:0;
    float:left;
}
#header h2 {
    font-size:15px;
    margin:0;
    padding:15px 0 15px;
    /*font-family:'OpenSansBold';*/
    text-transform:uppercase;
    font-weight:100;
    text-align:center;
}
.navigation {
    z-index:99999;
    line-height:45px;
    width:100%;
    background-color:#666;
    text-shadow:-1px -1px 0 #111;
    margin:0;
    padding:0;
    border-top:1px solid #777;
    border-bottom:1px solid #111;
    background-color: #424343;
    background-image: url(img/top_bar_texture.jpg);
    background-repeat:repeat-x;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#424343), to(#2F2F2E));
    background-image: -webkit-linear-gradient(top, #424343, #2F2F2E);
    background-image: -moz-linear-gradient(top, #424343, #2F2F2E);
    background-image: -ms-linear-gradient(top, #424343, #2F2F2E);
    background-image: -o-linear-gradient(top, #424343, #2F2F2E);
}
.navigation h1 {
    /*font-family:'OpenSans';*/
    font-size:12px;
    padding:0;
    margin:0;
    color:#FFF;
    float:left;
    font-weight:100;
    line-height:45px;
    text-shadow: -1px -1px 0 #000;
    text-transform:none;
}
.navigation h1 a {
    color:#FFF;
}
.navigation h1 a:hover {
    color:#EFEFEF;
}
.global_nav {
    float:right;
    margin: 0;
    padding: 0;
}
.global_nav ul {
    margin:0;
    padding:0;
    float:right;
}
.global_nav li {
    display:inline;
    padding:0;
    font-size:13px;
    margin-left:10;
    line-height:45px;
}
.global_nav li a {
    color:#CCC;
    /*font-family:'OpenSans';*/
    font-size:13px;
}
.global_nav li a:hover {
    color:#FFF;
}
#phils_day {
    margin-top: 8px;
}
.featured_content_home {
    margin-bottom: 20px;
}

/* LOADER */
 .bx-wrapper .bx-loading {
    min-height: 50px;
    background: url(images/bx_loader.gif) center center no-repeat #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
}
